html, body, div, h1, h2,
h3, h4, h5, h6, p, a, 
img, ol, ul, li, table
{
	margin: 0;
	padding: 0;
	color:black;
	font-weight:normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans/opensans-semibold-webfont.eot');
    src: url('opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-semibold-webfont.woff') format('woff'),
         url('opensans/opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('opensans/opensans-light-webfont.eot');
    src: url('opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-light-webfont.woff') format('woff'),
         url('opensans/opensans-light-webfont.ttf') format('truetype'),
         url('opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('opensans/opensans-bold-webfont.eot');
    src: url('opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-bold-webfont.woff') format('woff'),
         url('opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titilliumregular';
    src: url('titillium/titillium-regular-webfont.eot');
    src: url('titillium/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium/titillium-regular-webfont.woff') format('woff'),
         url('titillium/titillium-regular-webfont.ttf') format('truetype'),
         url('titillium/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumbold';
    src: url('titillium/titillium-semibold-webfont.eot');
    src: url('titillium/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium/titillium-semibold-webfont.woff') format('woff'),
         url('titillium/titillium-semibold-webfont.ttf') format('truetype'),
         url('titillium/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_bdbold';
    src: url('titillium/titillium-bold-webfont.eot');
    src: url('titillium/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium/titillium-bold-webfont.woff') format('woff'),
         url('titillium/titillium-bold-webfont.ttf') format('truetype'),
         url('titillium/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumlight';
    src: url('titillium/titillium-light-webfont.eot');
    src: url('titillium/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium/titillium-light-webfont.woff') format('woff'),
         url('titillium/titillium-light-webfont.ttf') format('truetype'),
         url('titillium/titillium-light-webfont.svg#titilliumlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('ubuntu/ubuntulight/ubuntu-l-webfont.eot');
    src: url('ubuntu/ubuntulight/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu/ubuntulight/ubuntu-l-webfont.woff') format('woff'),
         url('ubuntu/ubuntulight/ubuntu-l-webfont.ttf') format('truetype'),
         url('ubuntu/ubuntulight/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}
a
{
	text-decoration:none;
}
ol, ul
{
	list-style:none;
}
h2
{
	font-size:30px;
}
.clear
{
	clear:both;
}
.container
{
	width:940px;
	margin:0px auto;
}
.logo
{
	float:left;
	background: url('../images/LMSLogo.png') no-repeat center;
	height:23px;
	width:60px;
	margin:13px 0px;
}
.login
{
	font-family:open_sanssemibold;
	float:right;
	font-size:14px;
	color:#ff8a00;
	border:2px solid;
	border-radius:4px;
	line-height:18px;
	padding:4px 10px;
	margin:10px 0px;
}

.headerList
{
	float:right;
	margin:14px 0px;
}

.headerList li
{
	float:left;
	margin-right:35px;
}

.headerList li a
{
	font-size:16px;
	font-family:open_sanssemibold;
	color:#666666;
}
.banner
{
	background: url('../images/bannerImage.jpg') no-repeat;
	background-size: cover;
}
.content
{
	display:inline-block;
}
.banner .container .content
{
	float:right;
	width:395px;
	margin: 43px 0px 317px;
}
.banner .container .content h1
{
	font-family:open_sanslight;
	font-size:40px;
	line-height:54px;
	margin-bottom:34px;
}
.buttonText
{
	color:white;
	font-family:open_sansbold;
	font-size:30px;
	line-height:55px;
	border-radius:3px;
	background:#ff8a00;
	padding:0px 25px;
	display:inline-block;
}
.bottomContent .container .content
{
	margin:76px 0px 20px;
}
.bottomContent
{
	background:#f0f0f0;
}
.bottomContent h2
{
	text-align:center;
	margin-bottom:57px;
	font-family: ubuntulight;
}
.contentList li
{
	float:left;
	width:217px;
	background:white;
	border:1px solid #e4e4e4;
	border-radius:3px;
	position: relative;
	margin:0 20px 50px 0;
}
.contentList li.noMargin
{
	margin-right:0;
}
.contentList li.clear
{
	clear:both;
	float:none;
	border: 0;
}
.contentList li a
{
	display: inline-block;
	height:44px;
	width:44px;
	background-color: #ff8a00;
	border-radius:22px;
	position: absolute;
	top: -22px;
	left: 50%;
	margin-left: -22px;
}
.contentList li h3
{
	font-family: Arial;
	font-size:14px;
	line-height: 18px;
	margin: 34px auto 12px;
	font-weight:bold;
	text-align:center;
}
.contentList li p
{
	font-family: Arial;
	font-size:11px;
	margin: 0 18px 20px;
	text-align: left;
	word-break: break-all;
}
.createCourse
{
	background:url("../images/createCourseLogo.png") no-repeat center;
}
.createAssessment
{
	background:url("../images/createAssessmentLogo.png") no-repeat center;
}
.trackScore
{
	background:url("../images/trackScoresLogo.png") no-repeat center;
}
.groupDiscussion
{
	background:url("../images/groupDiscussionLogo.png") no-repeat center;
}
.report
{
	background:url("../images/reportsLogo.png") no-repeat center;
}
.multimediaSupport
{
	background:url("../images/multimediaSupportLogo.png") no-repeat center;
}
.aptitudeTest
{
	background:url("../images/aptitudeTestLogo.png") no-repeat center;
}
.certification
{
	background:url("../images/certificationLogo.png") no-repeat center;
}
.footer
{
	background:#555555;
}
.footer .content
{
	margin: 20px 0px 200px;
}
.footer .container h2
{
	line-height:40px;
	font-family: titilliumregular;
	color: white;
	float:left;
	letter-spacing:-1px;
	margin:0px 36px 33px 0px;
}
.footer .container .buttonText
{
	font-family:titillium_bdbold;
}
.footer .content div.clear
{
	border:1px solid #4c4c4c;
	margin-bottom:26px;
}
.footerList
{
	float:left;
	margin-bottom: 16px;
}
.footerList li
{
	float:left;
	margin-right:20px;
}
.footerList li a
{
	font-family:titillium_bdbold;
	font-size:18px;
	color:white;
	line-height:20px;
}
.footerList li.clear
{
	clear:both;
	float:none;
}
.socialList
{
	float:right;
	margin-top: 7px;
}
.socialList li
{
	float:left;
	margin-right:7px;
}
.socialList li.noMargin
{
	margin:0;
}
.socialList li a
{
	display:inline-block;
	border-radius:15px;
	background-color:#777777;
	height:30px;
	width:30px;
}
.fbIcon
{
	background:url("../images/fbLogo.png") no-repeat center;
}
.twIcon
{
	background:url("../images/twLogo.png") no-repeat center;
}
.pinIcon
{
	background:url("../images/pinLogo.png") no-repeat center;
}
.gplusIcon
{
	background:url("../images/gplusLogo.png") no-repeat center;
}
.socialList li.clear
{
	clear:both;
	float:none;
}
.footer h4
{
	float:left;
	margin-right:20px;
}
.terms
{
	float:left;
}
.terms li
{
	float:left;
	margin-right:15px;
}
.terms li a
{
	color:white;
}
.footerContent
{
	float:left;
	font-family: titilliumregular;
	font-size: 14px;
	line-height: 16px;
}
.footer .content .footerContent div
{
	border:none;
	margin:0;
}
