html, body, div, h1, h2,
h3, h4, h5, h6, p, a, ul, li, span, form
{
	margin: 0;
	padding: 0;
	font-weight:normal;
	font-family:Arial;
	color:#0077cc;
	font-size:12px;
}
a
{
	text-decoration:none;
}
ol, ul
{
	list-style:none;
}
@font-face {
    font-family: 'GeorgiaBoldItalic';
    src: url('../fonts/georgiabolditalic.eot');
    src: url('../fonts/georgiabolditalic.eot') format('embedded-opentype'),
         url('../fonts/georgiabolditalic.woff') format('woff'),
         url('../fonts/georgiabolditalic.ttf') format('truetype'),
         url('../fonts/georgiabolditalic.svg#GeorgiaBoldItalic') format('svg');
}
@font-face {
    font-family: 'GeorgiaItalic';
    src: url('../fonts/georgiaitalic.eot');
    src: url('../fonts/georgiaitalic.eot') format('embedded-opentype'),
         url('../fonts/georgiaitalic.woff') format('woff'),
         url('../fonts/georgiaitalic.ttf') format('truetype'),
         url('../fonts/georgiaitalic.svg#GeorgiaItalic') format('svg');
}
.clear
{
	clear:both;
	float:none;
}
.container
{
	width:940px;
	margin:0 auto;
}
.header
{
	background:url("../images/headerGradient.jpg") repeat-x center;
}
.logo
{
	background:url("../images/headerLogo.png") no-repeat center;
	margin:10px 0 15px;
	height:50px;
	width:165px;
	display: block;
	float: left;
}
.navigation
{
	float:left;
	margin:25px 0 0 70px;
}
.navigation li
{
	float:left;
	margin-left: 35px;
}
.navigation li.first
{
	margin:0;
}
.navigation li a
{
	font-size: 14px;
	line-height: 24px;
}
.navigation li a.active
{
	color:black;
}
.navigation li.clear
{
	clear:both;
	float:none;
}
.socialNav
{
	float:right;
	margin:30px 0 0 20px;
}
.socialNav li
{
	float:left;
	margin-left: 5px;
}
.socialNav li a
{
	display: block;
	height: 16px;
	width: 16px;
}
.socialNav li.first
{
	margin:0;
}
.fb
{
	background:url("../images/fbLogo.png") no-repeat center;
}
.tw
{
	background:url("../images/twLogo.png") no-repeat center;
}
.socialNav li.clear
{
	clear:both;
	float:none;
}
.contactNav
{
	float:right;
	margin-top:30px;
}
.contactNav li
{
	float:left;
	margin-left:18px;
}
.contactNav li a
{
	padding-left:20px;
}
.contactLogo
{
	background:url("../images/contactLogo.png") no-repeat center left;
}
.loginLogo
{
	background:url("../images/loginLogo.png") no-repeat center left;
}
.banner
{
	background:#0064a4 url("../images/bannerGradient.jpg") repeat-x top;
}
.banner .container
{
	background:url("../images/bannerBackground.png") no-repeat right;
	height:310px;
}
.bannerImage
{
	background:url("../images/bannerImage.png") no-repeat right;
	height:242px;
	width:463px;
	margin-top:40px;
	float:left;
}
.bannerForm
{
	float: left;
	margin: 70px 0 0 80px;
}
.bannerForm h1
{
	color:white;
	font-family:GeorgiaBoldItalic;
	font-size:28px;
	line-height:40px;
}
.bannerForm h1 span
{
	display:block;
	color:inherit;
	font-size:inherit;
	font-family:inherit;
}
.bannerForm input[type="text"]
{
	width:270px;
	font-size:16px;
	line-height:36px;
	border:1px solid #c5c5c5;
	border-radius:3px;
	padding-left:5px;
}
.bannerForm input[type="submit"]
{
	border: 1px solid #ff6000;
	border-radius: 3px;
	background: url("../images/bannerButtonGradient.jpg") repeat-x center;
	color: white;
	font-size: 16px;
	line-height: 36px;
	margin-left: 5px;
	padding:0 15px;
}
.bannerForm form
{
	margin-top:74px;
}
.content
{
	margin-bottom:40px;
}
.testimonial1
{
	float:left;
	background:url("../images/openingMark.png") no-repeat;
	padding-top:25px;
	width:235px;
	margin-top:18px;
}
.testimonial1 p
{
	line-height: 16px;
	color: #969798;
}
.testimonial1 div
{
	background:url("../images/closingMark.png") no-repeat right bottom;
	padding-bottom:5px;
}
.testimonial1 span
{
	color:#838585;
	line-height:20px;
	display:block;
	text-align:right;
}
.testimonial2
{
	float: left;
	margin: 25px 0 0 40px;
	width: 230px;
}
.testimonial2 h4
{
	color: #444444;
	line-height: 18px;
}
.testimonial2 p
{
	color: #aeb1b2;
	line-height: 16px;
	margin-top: 10px;
}
.testimonial2 a
{
	float:right;
}
.signupWrapper
{
	width: 365px;
	float: left;
	margin: 30px 0 0 60px;
}
.signupWrapper p
{
	font-family:GeorgiaItalic;
	font-size:16px;
	line-height:24px;
}
.signupWrapper a
{
	background:url("../images/contentButtonGradient.jpg") repeat-x center;
	border:1px solid #ff6000;
	border-radius:3px;
	font-size: 22px;
	color: white;
	margin-top:15px;
	float:right;
	line-height: 43px;
	padding:0 32px;
}
.footer
{
	padding:15px 0 190px;
	border-top:1px solid #e2e2e2;
}
.footer .container div
{
	width:130px;
	margin-left:30px;
	float:left;
}
.footer .container div.first
{
	margin:0;
}
.footer .container div.clear
{
	float:none;
}
.footer .container div h4
{
	color:#444;
	line-height:18px;
	margin-bottom:8px;
}
.footer li
{
	padding:7px 0;
	border-bottom:1px dashed #d4d8d9;
}
.footer li.first
{
	border-top:1px dashed #d4d8d9;
}
.footer span
{
	float:right;
	color: #444;
	font-size: 13px;
	line-height: 18px;
}
