html, body, div, h1, h2,
h3, h4, h5, h6, p, a, 
img, ol, ul, li, span
{
	margin: 0;
	padding: 0;
	font-weight:normal;
	font-family:Arial;
	color:#0077cc;
	font-size:12px;
}
a
{
	text-decoration:none;
}
ol, ul
{
	list-style:none;
}
@font-face {
    font-family: 'GeorgiaBoldItalic';
    src: url('../fonts/georgiabolditalic.eot');
    src: url('../fonts/georgiabolditalic.eot') format('embedded-opentype'),
         url('../fonts/georgiabolditalic.woff') format('woff'),
         url('../fonts/georgiabolditalic.ttf') format('truetype'),
         url('../fonts/georgiabolditalic.svg#GeorgiaBoldItalic') format('svg');
}
@font-face {
    font-family: 'GeorgiaItalic';
    src: url('../fonts/georgiaitalic.eot');
    src: url('../fonts/georgiaitalic.eot') format('embedded-opentype'),
         url('../fonts/georgiaitalic.woff') format('woff'),
         url('../fonts/georgiaitalic.ttf') format('truetype'),
         url('../fonts/georgiaitalic.svg#GeorgiaItalic') format('svg');
}
.clear
{
	clear:both;
	float:none;
}
.header
{
	background:url("../images/headerGradient.jpg") repeat-x center;
}
.container
{
	width:940px;
	margin:0 auto;
}
.logo
{
	height:50px;
	width:165px;
	background:url("../images/24*7Logo.png") no-repeat center;
	margin:10px 0 15px 0;
	float:left;
}
.social
{
	float:right;
	margin:30px 0 0 10px;
}
.social li
{
	float:left;
	margin-left:5px;
}
.social li a
{
	height:16px;
	width:16px;
	display:block;
}
.social li.clear
{
	float:none;
	clear:both;
}
.fb
{
	background:url("../images/fbLogo.png") no-repeat center;	
}
.tw
{
	background:url("../images/twLogo.png") no-repeat center;	
}
.navigation
{
	float:right;
	margin-top:30px;
}
.navigation li
{
	float:left;
	display:block;
	width:65px;
	margin-left: 18px;
}
.navigation li a
{
	float:left;
	height:16px;
	width:16px;
	position:relative;
}
.navigation li span
{
	font-size:12px;
	line-height:16px;
	position:absolute;
	left:21px;
}
.navigation li a.contact
{
	background:url("../images/contactLogo.png") no-repeat center;
}
.navigation li a.login
{
	background:url("../images/loginLogo.png") no-repeat center;
}
.navigation li.clear
{
	clear:both;
	float:none;
}
.home
{
	margin:25px 0 0 72px;
	float:left;
}
.home li
{
	margin-left:35px;
	float:left;
}
.home li a
{
	font-size:14px;
	line-height:24px;
}
.home li a.active
{
	color:black;
}
.home li.first
{
	margin:0;
}
.banner
{
	background:url("../images/bannerBackground.jpg") no-repeat center;
	height:310px;
	background-color:#0064a4;
}
.banner .bannerImage
{
	float:left;
	background:url("../images/bannerImage.png") no-repeat center;
	height:242px;
	width:463px;
	margin-top:40px;
}
.banner .content
{
	float: left;
	margin: 70px 0 0 78px;
	width: 395px;
	padding: 0;
	border: 0;
}
.banner h1
{
	color:white;
	font-family:GeorgiaBoldItalic;
	font-size:28px;
	line-height:40px;
}
.banner h1 span
{
	display: block;
	font: inherit;
	color: inherit;
}
.banner form
{
	margin-top:74px;
}
.banner input[type="text"]
{
	height:36px;
	width:268px;
	border:1px solid #c5c5c5;
	border-radius:3px;
}
.banner input[type="submit"]
{
	height: 40px;
	width: 115px;
	border: 1px solid #ff6000;
	border-radius: 3px;
	background: url("../images/bannerButtonGradient.jpg") repeat-x center;
	color: white;
	font-size: 16px;
	line-height: 18px;
	margin-left:5px;
}
.content
{
	padding-bottom: 40px;
	border-bottom:1px solid #e2e2e2;
}
.content .content1
{
	width:235px;
	float:left;
	background: url("../images/openingMark.png") no-repeat;
	padding-top: 25px;
	margin-top: 18px;
}
.content .content1 div
{
	background: url("../images/closingMark.png") no-repeat right bottom;
	padding-bottom: 5px;
}
.content .content1 h4
{
	font-size: 12px;
}
.content .content1 p
{
	font-size:12px;
	line-height:16px;
	color:#969798;
}
.content .content1 span
{
	color:#838585;
	font-size:12px;
	line-height:20px;
	display:block;
	text-align:right;
}
.content .content2
{
	width:230px;
	float:left;
	margin: 25px 0 0 40px;
}
.content .content2 h4
{
	color:#444444;
	font-size:12px;
	line-height:18px;
}
.content .content2 p
{
	color:#aeb1b2;
	font-size:12px;
	line-height:16px;
	margin-top:10px;
}
.content .content2 a
{
	font-size:12px;
	line-height:16px;
	text-align:right;
	float:right;
}
.content .content3 
{
	width: 365px;
	float: right;
	margin-top: 30px;
}
.content .content3 p
{
	font-family:GeorgiaItalic;
	font-size:16px;
	line-height:24px;
}
.content .content3 .signup
{
	border:1px solid #ff6000;
	border-radius:3px;
	background:url("../images/contentButtonGradient.jpg") repeat-x center;
	height: 43px;
	width: 143px;
	font: 22px/24px arial;
	color: white;
	margin-top:15px;
	float:right;
	line-height: 45px;
	text-align: center;
}
.footer
{
	padding:15px 0 190px;
}
.footer .container div
{
	width:130px;
	margin-left:30px;
	float:left;
}
.footer .container div.first
{
	margin:0;
}
.footer .container div h4
{
	color:#444;
	line-height:18px;
	border-bottom:1px dashed #d4d8d9;
	padding-bottom:8px;
}
.footer li
{
	padding:7px 0;
	border-bottom:1px dashed #d4d8d9;
}
.footer .container div.clear
{
	float:none;
}
.footer .container span
{
	float:right;
	color:#444;
	font-size: 13px;
	line-height: 18px;
}
