@font-face {
    font-family: 'GeorgiaBoldItalic';
    src: url('georgiabolditalic.eot');
    src: url('georgiabolditalic.eot') format('embedded-opentype'),
         url('georgiabolditalic.woff') format('woff'),
         url('georgiabolditalic.ttf') format('truetype'),
         url('georgiabolditalic.svg#GeorgiaBoldItalic') format('svg');
}
