html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face 
{
        font-family: "Source Sans Pro";
        src: url('../fonts/888244629-SourceSansPro-Regular.eot');
        src: url('../fonts/888244629-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/888244629-SourceSansPro-Regular.svg#Source Sans Pro') format('svg'),
        url('../fonts/888244629-SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/888244629-SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
body
{
	background-image:url("../images/pattern.jpg");
	background-repeat:repeat;
	color:white;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size:18px;
} 

.wrapper
{
    width:940px;
    margin:0px auto;
}

#header
{
    background: #444444;
    height: 50px;
}

.clear
{
	clear:both;
}

.logo
{
    margin:9px 50px 0px 0px;
}
ul
{
	list-style:none;
}
a
{
	display:block;
	text-decoration:none;
	color:white;
}
.link
{
	border-right:1px solid #333333;
	padding:15px 25px;
}
.firstUpMenu
{
	border-left:1px solid #333333;
}
.floatLeft
{
	float:left;
}
h1
{
	font-size:48px;
	font-weight:bold;
	margin:188px 0px 18px 0px;
}
h2
{
	font-size:36px;
	font:normal;
	margin-bottom:40px;
}

#content
{
	float:left;
}

#container
{
	padding:0px 20px;
}

button
{
	font-weight:bold;
	font-size:20px;
	border:none;
	border-radius:3px;
	height:50px;
	width:170px;
	margin:0px 20px 120px 0px;
}

#viewButton
{
	background:#f2f2f2;
}
#joinButton
{
	color:white;
	background:#ff9900;
}
#imageContainer
{
	padding:48px 8px 20px 0px;
}
.images
{
	float:right;
	margin-left:8px;
}

#painting1
{
	border:5px #434343 solid;
	box-shadow:0px 0px 5px #434343;
	margin-top:42px;
}

#painting2
{
	border:7px #8b5500 solid;
	box-shadow:0px 0px 3px #8b5500;
}
#painting3
{
	border:6px #414141 solid;
	box-shadow:0px 0px 3px #414141;
}

#howItWorksContainer
{
	text-align:center;
	background:white;
	padding-bottom:120px;
}
#howItWorksContainer h2
{
	padding:64px 0px 75px 0px;
	color:#444444;
	font-weight:bold;
}
.circleMenu
{
	height:140px;
	width:140px;
	border:1px;
	background:#efefef;
	border-radius:70px;
	margin-right:75px;
}

.firstDownMenu
{
	margin-left:80px;
}

.downMenuLogo
{
	margin:46px auto 70px;
}

p
{
	color:#888888;
}
#footer
{
	background:#ececec;
}
.bottomLink
{
	margin-right:20px;
}
.footerMenu
{
	color:#ff8000;
}
